<!DOCTYPE html>
<html>
<head>
  <title>Codereview11</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% content_for(:navbar) do %>
  <h4 class="navibar">
    <a href="/">Home</a> |
    <%= link_to "Products", products_path %> |
    <% if current_user %>
    <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
    <% if current_user.admin %>
    (Admin)
    <% end %>
    <% else %>
    <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
    <% end %>
  </h4>
  <% end %>

  <div class="container">

    <div class = "hero_header">
      <h1 class="splash_text">Mario's Ultimate Review Aggregator</h1>
      <%= yield :navbar %>
    </div>

    <div class="flashers">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
